<ion-tabs>
  <!-- Barra de abas fixa na parte de baixo, alternando entre as telas. -->
  <ion-tab-bar slot="bottom" color="light">
    <ion-tab-button tab="medicoes">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label>Medições</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="relatorio">
      <ion-icon name="bar-chart"></ion-icon>
      <ion-label>Relatório</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="integrantes">
      <ion-icon name="people"></ion-icon>
      <ion-label>Grupo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
