<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Integrantes</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="sair()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="topo">
    <ion-icon name="heart" color="danger"></ion-icon>
    <h2>CardioTrack</h2>
    <p>Sistema de Acompanhamento de Saúde Cardíaca</p>
  </div>

  <ion-list inset="true">
    <ion-item *ngFor="let nome of integrantes">
      <ion-icon name="person-circle" slot="start" color="danger"></ion-icon>
      <ion-label>{{ nome }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
